h1{

}
.first{
	float: left;
	width: 25%;
	margin-left: 15%;
	margin-top: 3%;
	background: #F5FFFA;
	padding: 35px 0px 50px 50px;
	border-radius: 5px;
}

#container > img{
	margin: 33px 0px 0px 175px}

input {
	border-radius: 5px;
	background: white;
    display: block;
    float: left;
    padding: 25px 100px 10px 10px;
    margin: 5px;
    border: solid #D3D3D3 1px;
}

/*
Buttons*/

#prev{
	background: #89DA59;
    border-radius: 5px;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    margin-left: 24%;
    margin-top: 1%;
}

#next{
	background: #89DA59;
    border-radius: 5px;
    padding: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
}

#send{
    text-align: center;
    background: #F98866;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    margin: 20px 0px 50px 140px;
    position: fixed;
    left: 34%;
    bottom: 5%;

   }

#send.hover{
  color: black;
}

