h1{

}
.first{
	float: left;
	width: 25%;
	margin-left: 10%;
	margin-top: 5%;
	background: #F5FFFA;
	padding: 35px 0px 35px 50px;
	border-radius: 5px;
}



input {
	border-radius: 5px;
	background: white;
    display: block;
    float: left;
    padding: 25px 100px 10px 10px;
    margin: 5px;
    border: solid #D3D3D3 1px;
}


#send{
    text-align: center;
    background: #89DA59;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    border: none;
    margin: 20px 0px 50px 140px;
    position: fixed;
    left: 45%;
    bottom: 10%;
   }

#send.hover{
  color: black;
}

